In [1]:
# Импорт необходимых библиотек.
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Вызов файла.
path_to_db = '/Users/yanako/MyDrive/COURSES/YANDEX_ANALITICS/datasets_ya/telecomm_csi.db' 
engine = create_engine(f'sqlite:///{path_to_db}', echo = False)

In [3]:
# Составление запросадля базы данных.
query = '''SELECT u.user_id,
                  u.lt_day,
                  CASE
                      WHEN u.lt_day <= 365 THEN 'new'
                      ELSE 'not new'
                  END AS is_new,
                  u.age,
                  CASE
                      WHEN u.gender_segment > 0.5 THEN 'female'
                      WHEN u.gender_segment < 0.5 THEN 'male'
                      ELSE NULL
                  END AS gender,
                  u.os_name,
                  u.cpe_type_name,
                  lo.country,
                  lo.city,
                  a.title AS age_segment,
                  t.title AS traffic_segment,
                  li.title AS lifetime_segment,
                  u.nps_score,
                  CASE
                      WHEN u.nps_score < 7 THEN 'detractors'
                      WHEN u.nps_score > 8 THEN 'promoters'
                      ELSE 'passives'
                  END AS nps_group
           FROM user AS u
           LEFT JOIN location AS lo ON u.location_id=lo.location_id
           LEFT JOIN age_segment AS a ON u.age_gr_id=a.age_gr_id
           LEFT JOIN traffic_segment AS t ON u.tr_gr_id=t.tr_gr_id
           LEFT JOIN lifetime_segment AS li ON u.lt_gr_id=li.lt_gr_id
        '''

In [4]:
# Создание датафрейма.
df = pd.read_sql(query, engine)

In [5]:
# Просмотр результата.
df.sample(10)

,user_id,lt_day,is_new,age,gender,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
416024,VIN62E,1411,not new,55.0,male,ANDROID,TABLET,Россия,Новокузнецк,06 55-64,06 10-15,08 36+,10,promoters
365666,SWVUKJ,823,not new,39.0,female,ANDROID,SMARTPHONE,Россия,Уфа,04 35-44,20 80-85,07 25-36,5,detractors
306619,PV1JMK,425,not new,32.0,male,PROPRIETARY,PHONE,Россия,Томск,03 25-34,03 0.1-1,06 13-24,10,promoters
70811,DNDIUP,5002,not new,31.0,female,ANDROID,SMARTPHONE,Россия,Новокузнецк,03 25-34,05 5-10,08 36+,8,passives
213448,L10NGQ,1567,not new,28.0,male,IOS,SMARTPHONE,Россия,Воронеж,03 25-34,08 20-25,08 36+,6,detractors
251941,N0WVVQ,5148,not new,37.0,male,ANDROID,SMARTPHONE,Россия,НижнийНовгород,04 35-44,24 100+,08 36+,8,passives
147578,HM8GBE,115,new,62.0,female,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,04 1-5,04 4-6,10,promoters
308984,PZINE6,799,not new,34.0,male,ANDROID,SMARTPHONE,Россия,Калининград,03 25-34,14 50-55,07 25-36,10,promoters
161644,ICJCK3,812,not new,46.0,male,ANDROID,MOBILE PHONE/FEATURE PHONE,Россия,Тольятти,05 45-54,10 30-35,07 25-36,8,passives
40622,C3JS71,838,not new,35.0,female,IOS,SMARTPHONE,Россия,Москва,04 35-44,05 5-10,07 25-36,7,passives

In [6]:
# Вызов информации о датафрейме.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 502493 entries, 0 to 502492
Data columns (total 14 columns):
user_id             502493 non-null object
lt_day              502493 non-null int64
is_new              502493 non-null object
age                 501939 non-null float64
gender              501192 non-null object
os_name             502493 non-null object
cpe_type_name       502493 non-null object
country             502493 non-null object
city                502493 non-null object
age_segment         502493 non-null object
traffic_segment     502493 non-null object
lifetime_segment    502493 non-null object
nps_score           502493 non-null int64
nps_group           502493 non-null object
dtypes: float64(1), int64(2), object(11)
memory usage: 53.7+ MB

In [7]:
# Сохранение файла в формат csv.
df.to_csv('/Users/yanako/MyDrive/COURSES/YANDEX_ANALITICS/08_project_2/nps.csv', index=False)